<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <p>for loop (for all images/gifs)???</p>


    <% for(key in myObject) {  %>
       <img src=" <%= myObject[key].value%>"></img>
    <% } %>

  </body>
</html>
